table{
    border:2px solid black;
    border-collapse:collapse
}
th{
    border:2px solid black;
    padding:20px;
    background-color:pink;
    color:red;
}
td{
    border:2px solid black;
    padding:20px;
}
tr:nth-child(odd){
    background-color:royalblue;
}